alembic            1.15.2    A database migration tool for SQLAlchemy.
anyio              4.9.0     High level compatibility layer for multiple as...
bcrypt             4.3.0     Modern password hashing for your software and ...
certifi            2025.4.26 Python package for providing Mozilla's CA Bundle.
cffi               1.17.1    Foreign Function Interface for Python calling ...
charset-normalizer 3.4.2     The Real First Universal Charset Detector. Ope...
click              8.2.0     Composable command line interface toolkit
coverage           7.8.0     Code coverage measurement for Python
cryptography       45.0.1    cryptography is a package which provides crypt...
ecdsa              0.19.1    ECDSA cryptographic signature library (pure py...
fastapi            0.115.12  FastAPI framework, high performance, easy to l...
greenlet           3.2.2     Lightweight in-process concurrent programming
h11                0.16.0    A pure-Python, bring-your-own-I/O implementati...
httpcore           1.0.9     A minimal low-level HTTP client.
httpx              0.28.1    The next generation HTTP client.
idna               3.10      Internationalized Domain Names in Applications...
iniconfig          2.1.0     brain-dead simple config-ini parsing
mako               1.3.10    A super-fast templating language that borrows ...
markupsafe         3.0.2     Safely add untrusted strings to HTML/XML markup.
packaging          25.0      Core utilities for Python packages
passlib            1.7.4     comprehensive password hashing framework suppo...
pluggy             1.6.0     plugin and hook calling mechanisms for python
psycopg            3.2.9     PostgreSQL database adapter for Python
psycopg-binary     3.2.9     PostgreSQL database adapter for Python -- C op...
psycopg2-binary    2.9.10    psycopg2 - Python-PostgreSQL Database Adapter
pyasn1             0.4.8     ASN.1 types and codecs
pycparser          2.22      C parser in Python
pydantic           1.10.22   Data validation and settings management using ...
pyjwt              1.7.1     JSON Web Token implementation in Python
pytest             8.3.5     pytest: simple powerful testing with Python
pytest-asyncio     0.26.0    Pytest support for asyncio
pytest-cov         6.1.1     Pytest plugin for measuring coverage.
python-dotenv      1.1.0     Read key-value pairs from a .env file and set ...
python-jose        3.4.0     JOSE implementation in Python
python-multipart   0.0.20    A streaming multipart parser for Python
requests           2.32.3    Python HTTP for Humans.
rsa                4.9.1     Pure-Python RSA implementation
six                1.17.0    Python 2 and 3 compatibility utilities
sniffio            1.3.1     Sniff out which async library your code is run...
sqlalchemy         2.0.41    Database Abstraction Library
starlette          0.46.2    The little ASGI library that shines.
typing-extensions  4.13.2    Backported and Experimental Type Hints for Pyt...
urllib3            2.4.0     HTTP library with thread-safe connection pooli...
uvicorn            0.34.2    The lightning-fast ASGI server.
